@media (max-width: 600px) {
    body {
        padding: 0;

    }
    .container {
        padding: 0;
        border-radius: 0;
    }
    img {
        border-radius: 0;
    }
   .pad {
    padding-inline: 10%;
   }
}